.details {
  display: flex;
  justify-content: space-around;
  height: min-content;
  align-items: center;
}
.addmov {
  padding: 12px;
}
nav {
  margin: 20px;
  gap: 24px;
  display: flex;
}
.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-show-button {
  margin-bottom: 10px;
  font-size: 18px;
}
.movie-detail-container {
  padding: 10px;
  max-width: 80rem;
}
.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.details p {
  padding: 5px;
  margin: 0%;
}
